body,
html {
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: mediumvioletred;
  overflow: hidden;
}

h1,
h2 {
  margin: 0;
  padding: 0;
}

.bg-indigo {
  background-color: indigo;
}

.bg-purple {
  background-color: purple;
}

.filter {
  width: 50%;
  padding: 0;
}

.filter input {
  border: 2px solid indigo !important;
  font-size: 1.1em;
}

.form-row {
  position: relative;
  margin-top: 10px;
  width: 90%;
}

.form-row input,
textarea,
select {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 5px;
  padding: 9px;
  border: 2px solid mediumvioletred;
  font-size: 1.1em;
  box-sizing: auto;
}

.form-row select option {
  padding: 8px;
}

.form-row label {
  display: flex;
  box-sizing: border-box;
  margin-bottom: 8px;
  width: 100%;
}

.btn-add {
  position: fixed;
  bottom: 0;
  left: 0;
  width: auto;
}

.btn-add button {
  padding: 19px 15px;
  border-radius: 50%;
  border: 2px solid indigo;
  color: mediumvioletred;
  background-color: indigo;
  cursor: pointer;
}

.list {
  padding: 20px;
  color: white;
  width: 100%;
  background-color: mediumvioletred;
}

@media (max-width: 1024px) {
  .filter {
    width: 100%;
  }
  .form-row {
    width: 90%;
  }

  table td,
  table th {
    font-size: 0.8em;
  }

  tbody td {
    max-width: 250px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

table {
  font-size: 0.9em;
  width: calc(100vw - 3em);
}

table,
tr td {
  border-collapse: collapse;
  border: 1px solid transparent;
}
tbody {
  display: block;
  height: calc(100vh - 200px);
  overflow-y: auto;
  overflow-x: hidden;
}

thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

tbody td {
  text-align: left;
  border-top: 1px solid indigo;
  border-right: 1px solid indigo;
  padding: 5px;
}

tbody td {
  text-align: left;
  border-top: 1px solid indigo;
  border-right: 1px solid indigo;
  padding: 5px;
}

tbody td:nth-child(1) {
  border-left: 1px solid indigo;
  text-align: left;
  cursor: pointer;
}

tbody td:nth-child(4) {
  border-right: 1px solid indigo;
  text-align: center;
}

tbody tr:last-child td {
  border-bottom: 1px solid indigo;
}

thead th {
  text-align: center;

  padding: 5px;
  background-color: indigo;
}

tbody button {
  padding: 8px 8px;
  border-radius: 5px;
  border: 2px solid indigo;
  color: white;
  background-color: indigo;
  cursor: pointer;
}

.clear-filter {
  position: absolute;
  bottom: -12px;
  right: 10px;
  color: indigo;
  font-size: 3em;
  cursor: pointer;
}

.modal {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  color: #fff;
  z-index: 100;
}
.modal.open {
  display: block;
}

.modal__header {
  height: 250px;
  margin: 16px 10px;
}

.modal__footer {
  height: 50px;
}
.modal__content,
.modal__footer {
  position: absolute;
  width: 100%;
}
.modal__content {
  bottom: 50px;
  top: 240px;
  overflow-y: auto;
  /* margin: 0 10px; */
}
.modal__footer {
  bottom: 0;
  left: 10px;
}

.modal__footer button {
  padding: 8px 8px;
  border-radius: 5px;
  border: 2px solid mediumvioletred;
  color: white;
  background-color: mediumvioletred;
  cursor: pointer;
  margin-right: 5px;
}
